%h1 About
%p
  Hello, I am Matt Spiers founder and owner of Rabid Host.  I achieved my degree
  at the Univerisity of Southern Mississippi.  I am of software developer and have
  been working on this project in my free time.  It is my goal to offer you the lowest
  prices in the mumble hosting world.  Coding is a passion of mine as well as becoming an
  entrepreneur.  I am a one man team right now but will work around the clock to make
  sure my customers are satified.  Feel free to email me with any questions or comments.
