
%div{:class => "wrap"}
  %div{:class => "productPanel"}
    %h3.productHeader 5 Users
    %p Only $1 month buy now!

  %div{:class => "productPanel"}
    %h3.productHeader 10 Users
    %p Only $2 month buy now!

  %div{:class => "productPanel"}
    %h3.productHeader 25 Users
    %p Only $5 month buy now!

%p Welcome to mumbleBox.net register an account to get started.  Subscriptions start as low as $2 a month.
