
%div{:class => "wrap"}
  %div{:class => "productPanel"}
    %h3.productHeader 5 Users
    %p Only $1 month buy now!

  %div{:class => "productPanel"}
    %h3.productHeader 10 Users
    %p Only $2 month buy now!

  %div{:class => "productPanel"}
    %h3.productHeader 25 Users
    %p Only $5 month buy now!

%p Welcome to mumbleBox.net register an account to get started.  Subscriptions start as low as $2 a month.

%p
  Your search for the best Mumble hosting service is finally over!
  Our main focus is on Mumble server hosting and nothing else. We offer no other service since, as hardcore gamers ourselves, we want to provide the expertise we believe the community deserves. We guarantee a 99.9% uptime and premium bandwidth to ensure uninterrupted communication for those hot gaming sessions. And once you have successfully submitted your order, you can immediately go online and log on to our control panel to start using your Mumble server or customize the settings.

%h2 Why Use Us?
%ul
  %li Live customer support. We maintain a customer support team of experienced specialists who are available to address your concerns 24/7, 365-days a year. Our team responds to your inquiries within minutes through live chat at the website, via email through the Contact Us page or you can use our toll-free contact numbers.
  %li Worldwide hosting. We maintain hosting servers throughout North America as well as many major cities around the world.
  %li Competitive prices. We offer some of the most affordable hosting rates in the market, with no startup fees or hidden charges. And you can cancel your subscription at any time if you are not satisfied with our service.
  %li Money back guarantee. We are so confident that you’ll love our service that we are offering a thirty-day money back guarantee. Try us out for a month, and if you’re not happy, simply cancel and we’ll issue you a complete refund.
  %li Customizable control panel. You can easily manage your Mumble server through your web browser using our control panel. It is designed to be user-friendly, with intuitive navigation and settings that are very easy to configure.
  %li Compatible across various platforms. You can use our service on your Mac or PC, and we are also compatible with Linux. An app is also available that allows you to connect to the server using your iPhone and Android phone.
