%h2 My Cart
%table{:border => "1px white solid"}
  - if @cart.items.any?
    %tr
      %th
      %th Product Name
      %th Slots
      %th Price
  - @cart.items.each do |item|
    %tr
      %td
      %td= item.name
      %td= item.slots
      %td= number_to_currency(item.price)
%span{:class => "glyphicon glyphicon-align-left", :'aria-hidden' => "true"}