/*
  Author: Matt Spiers
*/


body{
  /*background: url('/images/fractalBackground.png');*/
  background: url('/images/random_grey_variations.png');
  background-repeat: repeat;
  /*background-size: cover;*/
}

.productPanel{
  width: 300px;;
  margin: 25px;
  background-color: #FFF;
  color: black;
  float: left;
  border-radius: 10px;
}
.productHeader{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  margin-top: 0px;
  text-align: center;
  background-color: #2474e0;
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 1050px;
}
.bg{
  background: url('/images/mumbleLogo.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.jumbotron{
  background: url('/images/heroBackground.png');
  color: white;
  position: relative;
  overflow: hidden;
  /*top: -200px;*/
}

footer{
  color: white;
  position: relative;
  /*top: -200px;*/
  margin: 0 auto;
}

#cName{
  display: inline-block;
  width: 49%;
  text-align: left;
}
#wr1{
  margin: 0 auto;
  text-align: center;
}

#stripeTag{
  display: inline-block;
  width: 49%;
  text-align: right;
}

#form{
  position: relative;
  float: none;
}
#formProg{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.current{
  color: de9124;
}
#pBar{
  background: url("/images/heroBackground.png");
}
#pBar2{
//  position: relative;
}
#step{
  font-size: 16px;
  width: 150px;
  margin: 0 auto;
  display: inline-block;
}
table{
  color: white;
  border: none;
}
th{
  background-color: #575757;
}
th.front{
  border-top-left-radius: 5px;
}
th.end{
  border-top-right-radius: 5px;
}
td{
  /*padding: 5px;*/
}

label{
    width: 200px;
}

input{
  color: #000;
}

.key{
  width: 300px;
  float: left;
}

.val{
  width: 300px;
  float: left;
}
.keyValRow{
  width: 700px;
  position: relative;
}
