- error = @user.errors.include?(:email)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :email, :class => 'control-label'
  .controls
    =f.text_field :email, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:email, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:password)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :password, :class => 'control-label'
  .controls
    =f.text_field :password, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:password, :class => 'text-error') : pat(:example)
- error = @user.errors.include?(:username)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :username, :class => 'control-label'
  .controls
    =f.text_field :username, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:username, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:users, :index), :class => 'btn btn-default'