%div{:id => "formProg"}
  %div{:id => "pBar", :class => "progress progress-warning progress-striped"}
    %div{:id => "pBar2", :class => "bar", :style => "width: 100%"}
  #step= partial 'orders/step', :locals => {:s => "Process Payment", :c => "next", :dot => "/images/whiteDot.png"}
  #step= partial 'orders/step', :locals => {:s => "Setup Server", :c => "next", :dot => "/images/whiteDot.png"}
  #step= partial 'orders/step', :locals => {:s => "Done", :c => "current", :dot => "/images/orangeDot.png"}

%h2 Congrats!
%p You have finished setting up your server.
