- error = @active_subscription.errors.include?(:userId)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :userId, :class => 'control-label'
  .controls
    =f.text_field :userId, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:userId, :class => 'text-error') : pat(:example)
- error = @active_subscription.errors.include?(:subscriptionId)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :subscriptionId, :class => 'control-label'
  .controls
    =f.text_field :subscriptionId, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:subscriptionId, :class => 'text-error') : pat(:example)
- error = @active_subscription.errors.include?(:renewalDate)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :renewalDate, :class => 'control-label'
  .controls
    =f.text_field :renewalDate, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:renewalDate, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:active_subscriptions, :index), :class => 'btn btn-default'