%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:active_subscriptions, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:active_subscriptions, :new)

.tabs-content
  = form_for :active_subscription, url(:active_subscriptions, :create), :class => 'form-horizontal' do |f|
    =partial 'active_subscriptions/form', :locals => { :f => f }
